In [1]:
import  pandas as pd

In [5]:
df = pd.read_csv("diarization_111.csv")

In [8]:
df.columns

Index(['segment', 'label', 'speaker', 'start', 'end', 'orig_index'], dtype='object')

In [9]:
df[['start', 'end']]

                               segment        start          end
0    [ 00:00:00.030 -->  00:00:02.190]     0.030969     2.283781
1    [ 00:00:02.376 -->  00:00:03.473]     2.283781     4.089406
2    [ 00:00:04.705 -->  00:00:05.093]     4.089406     5.498469
3    [ 00:00:05.903 -->  00:00:07.658]     5.498469     7.751281
4    [ 00:00:07.844 -->  00:00:12.164]     7.751281    12.324406
..                                 ...          ...          ...
565  [ 00:50:03.882 -->  00:50:04.287]  3003.654406  3004.472844
566  [ 00:50:04.658 -->  00:50:06.075]  3004.472844  3010.699719
567  [ 00:50:10.699 -->  00:50:14.192]  3010.699719  3015.863469
568  [ 00:50:17.534 -->  00:50:18.141]  3015.863469  3018.301906
569  [ 00:50:18.462 -->  00:50:18.732]  3018.301906  3018.732219

[570 rows x 3 columns]